<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <p class="h3">Add Project</p>
    </div>
</div>
<br>
<form ngNativeValidate #newProjectForm="ngForm">
    <div class="form-group row">
        <label for="projectTitle" class="col-sm-2 col-form-label">Project :</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="projectTitle" name="projectTitle" [(ngModel)]="projectTitle"
                placeholder="" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id='startEndDate' name="startEndDate" [(ngModel)]="startEndDateChecked"
                            (change)="startDateEndDateSelect()">
                    </div>
                    <label for="startEndDate" style="margin-bottom: 0px;">Set Start & End Date</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="startDate" style="margin-bottom: 0px; margin-right: 0.5rem;">Start Date : </label>
            <input type="date" #startDate name="startDate" id="startDate" placeholder="Start Date" style="width: 150px;"
                [disabled]="!startEndDateChecked" [(ngModel)]="startDateSelected" (change)="startDateSelect()">
        </div>
        <div class="col-sm-3">
            <label for="endDate" style="margin-bottom: 0px; margin-right: 0.5rem;">End Date : </label>
            <input type="date" #endDate name="endDate" id="endDate" placeholder="End Date" style="width: 150px;"
                [disabled]="!startEndDateChecked" [(ngModel)]="endDateSelected">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formControlRange">Priority : </label>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-5"><small>0</small></div>
                <div class="col-sm-7" style="text-align: right;"><small>30</small></div>
            </div>
            <div class="row">
                <input type="range" class="form-control-range" id="formControlRange" name="formControlRange" min="0"
                    max="30" value="0" [(ngModel)]="priorityValue" required autocomplete="off">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formControlRange">Manager : </label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="manager" name="manager" [(ngModel)]="manager" placeholder=""
                required disabled>
        </div>
        <div class="col-sm-2" style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="open(searchManagerModel)">
                Search
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5 col-md-7 col-lg-6"></div>
        <div class="col-sm-4 col-md-2 col-lg-3">
            <button type="submit" class="btn btn-primary"
                [disabled]="!newProjectForm.form.valid || manager==='' || !startEndDateChecked"
                (click)="useraction(newProjectForm)">{{buttonAction}}</button>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </div>
</form>

<ng-template #searchManagerModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Search Manager</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div style="padding-right: 0px; margin-right: 20px; margin-left: 20px;">
            <input class="form-control mr-sm-2" name="searchBox" type="search" placeholder="Search..."
                aria-label="Search" [(ngModel)]="searchText">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="border: 0px;" *ngFor="let user of users | filter: searchText">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" name="radiogroup" aria-label="Radio button for following text input"
                                (change)="onSelectedManagerChange(user)">
                        </div>
                    </div>
                    <label class="form-control" aria-label="Text input with radio button" disabled>
                        {{user.firstName}} {{user.lastName}}
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<div *ngIf="projectAdded" class="alert alert-success" role="alert">Project is successfully added</div>
<div *ngIf="projectUpdated" class="alert alert-success" role="alert">Project is successfully updated</div>
<div *ngIf="projectDeleted" class="alert alert-success" role="alert">Project is successfully deleted</div>

<hr />
<br>

<nav class="navbar navbar-light bg-light">
    <!-- <form class="form-inline"> -->
    <!-- <div class="row"> -->
    <input class="form-control mr-sm-2" name="searchBox" type="search" placeholder="Search..." aria-label="Search"
        [(ngModel)]="searchText">

    <label class="" style="border: none; background: none; margin-bottom: 0px; margin-left: 10px;">Sort By : </label>
    <button type="button" class="btn btn-secondary btn-sm" (click)="sortBy('startDate')" style="margin: 10px;">
        Start Date
    </button>
    <button type="button" class="form-control btn btn-secondary btn-sm" (click)="sortBy('endDate')"
        style="margin: 10px;">
        End Date
    </button>
    <button type="button" class="form-control btn btn-secondary btn-sm" (click)="sortBy('priority')" style="margin: 10px;">
        Priority
    </button>
    <button type="button" class="form-control btn btn-secondary btn-sm" (click)="sortBy('completed')" style="margin: 10px;">
        Completed
    </button>
    <!-- </form> -->
</nav>

<div class="list-group">
    <a *ngFor="let project of projects | filter: searchText"
        class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col-7 list-group-item-dark">
                <div class="row">
                    <h5 class="mb-1">Project: {{project.name}}</h5>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1">No. of tasks - </p>
                    </div>
                    <div class="col-6" style="text-align: left;">
                        <p class="mb-1">Completed -</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1">Start Date: {{project.startDate | slice:0:10}}</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-1">End Date: {{project.endDate | slice:0:10}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2" style="text-align: center;">
                <div class="d-flex w-100" style="justify-content: center;">
                    <h5 class="mb-1">Priority</h5>
                </div>
                <h1 class="list-group-item-dark" style="text-align: center;">{{project.priority}}</h1>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column" style="align-items: center;">
                    <button class="btn btn-secondary" (click)="editProject(project)">Update</button>
                    <button class="btn btn-secondary" (click)="suspendProject(project)">Suspend</button>
                </div>
            </div>
        </div>
    </a>
</div>