<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <p class="h3">Add Project</p>
    </div>
</div>
<br>
<form ngNativeValidate #newProjectForm="ngForm">
    <div class="form-group row">
        <label for="projectTitle" class="col-sm-2 col-form-label">Project :</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="projectTitle" name="projectTitle" [(ngModel)]="projectTitle"
                placeholder="" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id='startEndDate' name="startEndDate" [(ngModel)]="startEndDateChecked">
                    </div>
                    <label for="startEndDate" style="margin-bottom: 0px;">Set Start and End Date</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="startDate" style="margin-bottom: 0px; margin-right: 0.5rem;">Start Date : </label>
            <input type="date" #startDate name="startDate" id="startDate" placeholder="Start Date" min="1972-12-31"
                style="width: 150px;" [disabled]="!startEndDateChecked" [(ngModel)]="startDateSelected"
                (change)="startDateSelect()">
        </div>
        <div class="col-sm-3">
            <label for="endDate" style="margin-bottom: 0px; margin-right: 0.5rem;">End Date : </label>
            <input type="date" #endDate name="endDate" id="endDate" placeholder="End Date" max="2020-6-22"
                style="width: 150px;" [disabled]="!startEndDateChecked" [(ngModel)]="endDateSelected">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formControlRange">Priority : </label>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-5"><small>0</small></div>
                <div class="col-sm-7" style="text-align: right;"><small>30</small></div>
            </div>
            <div class="row">
                <input type="range" class="form-control-range" id="formControlRange" name="formControlRange" min="0"
                    max="30" [(ngModel)]="priorityValue">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formControlRange">Manager : </label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="manager" name="manager" [(ngModel)]="manager" placeholder=""
                required disabled>
        </div>
        <div class="col-sm-2" style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="open(searchManagerModel)">
                Search
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5 col-md-7 col-lg-6"></div>
        <div class="col-sm-4 col-md-2 col-lg-3">
            <button type="submit" class="btn btn-primary" [disabled]="!newProjectForm.form.valid"
                (click)="useraction(newProjectForm)">{{buttonAction}}</button>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </div>
</form>

<ng-template #searchManagerModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Search Manager</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="border: 0px;"  *ngFor="let user of users">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" name="radiogroup" 
                            aria-label="Radio button for following text input"
                            (change)="onSelectedManagerChange(user)">
                        </div>
                    </div>
                    <label class="form-control" aria-label="Text input with radio button" disabled>
                        {{user.firstName}} {{user.lastName}}
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
<hr />
<br>